/* Write your CSS here */
.checkOutBtn {
  background-color: #0b69ff;
  border: 0 solid;
  outline: none;
  color: white;
  width: 100%;
  border-radius: 8px;
  padding: 12px 8px;
}
.cartSummary {
  width: 250px;
  color: gray;
  align-self: flex-end;
}
.totalAmount {
  font-size: 28px;
  font-weight: 600;
  color: black;
}
.popup {
  background-color: rgb(1, 183, 255);
  padding: 18px 10px;
  border-radius: 10px;
  border: 1px solid rgb(201, 242, 255);
  width: 400px;
  color: white;
}
.ConfirmOrderBtn {
  background-color: #0b69ff;
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  border: 1px solid rgb(140, 140, 252);
  color: white;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  transition: 0.5s;
}
.ConfirmOrderBtn[disabled] {
  background-color: silver;
}
.eachpayment {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 5px;
  border: 1px solid silver;
  margin-bottom: 6px;
  width: 100%;
  display: flex;
  align-items: center;
}
.paymentsTitle {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
.orderSuccessMsg {
  color: green;
  text-align: center;
}
label {
  width: 100%;
  margin-left: 8px;
}
.paymentIcon {
  width: 80px;
  height: 40px;
  object-fit: scale-down;
  align-self: flex-end;
}
.popup .cartlength span,
.popup .totalPrice span {
  font-weight: 700;
  font-size: 1.1rem;
}
.popup .cartlength,
.popup .totalPrice {
  font-size: 1rem;
}
